<h1>
  Angular Bulbs
</h1>
<button (click)="connect()"><i class="fa fa-bluetooth-b" aria-hidden="true"> </i> Connect Device</button>

<button (click)="fakeConnect()"><i class="fa fa-lightbulb-o" aria-hidden="true"></i> Fake Connect</button>

<button (click)="disconnectAll()" *ngIf="devices.length > 0"><i class="fa fa-power-off" aria-hidden="true"></i> Disconnect All</button>

<button *ngIf="devices.length > 0" (click)="debug = !debug"><i class="fa fa-bug" aria-hidden="true"></i> Toggle Debug</button>

<button *ngIf="debug" (click)="resetErrors()"><i class="fa fa-refresh" aria-hidden="true"></i> reset errors</button>



<div [style.display]="'flex'">

  <!-- each device -->
  <div *ngFor="let device of devices" 
    [style.display]="'flex'"
    [style.flex-direction]="'column'"
    [style.align-items]="'center'"
  >

    <!-- bulb top-->
    <div 
      [style.background-color]="device.displayHex"
      [style.width.px]="200"
      [style.height.px]="200"
      [style.border-radius.%]="50"
      [style.margin.px]="30"
    >
      <input 
        type="color" 
        (change)="setColor(device, $event)" 
        [(ngModel)]="device.hex"
        [style.width.px]="200"
        [style.height.px]="200"
        [style.opacity]="0"
        />
    </div>

    <!-- bulb socket -->
    <div 
      [style.background-color]="'#000'"
      [style.width.px]="120"
      [style.padding.px]="10"
      [style.position]="'relative'"
      [style.top.px]="-40"
      >
      {{ device.name }}<br>
      <div *ngIf="debug">
        hue: {{ device.hue * 100 | round }} % <br>
        sat: {{ device.sat * 100 | round }} % <br>
        light: {{ device.light * 100 | round }} %<br>
        hex: {{ device.hex }}<br>
        display: {{ device.displayHex }} 
        errors: {{ ((device.writeErrorCount / device.writeAttemptCount) * 100) | round }} %
        <br>
        <!-- busy indicator -->
        <span *ngIf="device.busy"> <i class="fa fa-hourglass-half" aria-hidden="true"></i> </span>
        <span *ngIf="!device.busy">&nbsp;</span>
        <br>
      </div>
      <button (click)="disconnectDevice(device)">disconnect</button>
    </div>
  </div><!-- end of bulb -->
</div><!-- end of device row -->

<!-- RAINBOW PROGRAM -->
<div *ngIf="devices.length > 0">

  <h2>Rainbow Maker</h2>
  <button (click)="rainbowSetup()" *ngIf="!rainbowRunning"><i class="fa fa-paint-brush" aria-hidden="true"></i> apply colors</button>
  <button (click)="startRainbow()" *ngIf="!rainbowRunning"><i class="fa fa-play" aria-hidden="true"></i> Start RAINBOW!</button>
  <button (click)="stopRainbow()" *ngIf="rainbowRunning"><i class="fa fa-stop" aria-hidden="true"></i> STOP RAINBOW</button>
  <br>

  speed of change: {{ intervalMS }} <br>
  <input type="range" min="10" max="200" [(ngModel)]="intervalMS"/>
  <br>
  hue change each step: {{ hueChangeStep * 100| round  }}%<br>
  <input type="range" min="0" max="1" step="0.01" [(ngModel)]="hueChangeStep" (ngModelChange)="rainbowSetup()" />
  <br>
  <br>
  saturation: {{ defaultSaturation * 100 | round }}%<br>
  <input type="range" min="0" max="1" step="0.01" [(ngModel)]="defaultSaturation" (ngModelChange)="rainbowSetup()" />
  <br>
  lightness: {{ defaultLightness * 100 | round }}%<br>
  <input type="range" min="0" max="1" step="0.01" [(ngModel)]="defaultLightness" (ngModelChange)="rainbowSetup()" />
  <br>
  hue Distance:  {{ hueDistance * 100 | round }}%<br>
  <input type="range" min="0" max="0.4" step="0.02" [(ngModel)]="hueDistance" (ngModelChange)="rainbowSetup()"/>
</div>