/* You can add global styles to this file, and also import other style files */
body{
    background-color: #222;
    color: #eee;
    font-family: Consolas, monospace;
}

button {
    font-family: inherit;
    background-color: white; 
    color: black;
    margin: 10px;
    padding: 12px 12px;

    cursor: pointer;
    user-select: none;
    transition: all 60ms ease-in-out;
    text-align: center;
    white-space: nowrap;
    text-decoration: none !important;
    text-transform: none;
    text-transform: capitalize;

    border: 0 none;
    border-radius: 4px;

    font-size: 14px;
    font-weight: 500;
    line-height: 1.3;

    -webkit-appearance: none;
    -moz-appearance:    none;
    appearance:         none;
}

button:hover {
    transition: all 60ms ease;
    opacity: .85;
}
  
button:active {
    transition: all 60ms ease;
    opacity: .75;
}
  
button:focus {
    outline: 1px dotted #959595;
    outline-offset: -4px;
}